@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.active {
    color: #7EBC3C;
}

.loading {
    position: absolute;
    transform: translate(-50%, -50%);
    left: 50%;
    top: 50%;
}